/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
     /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
     --background-image: url("../images/cover-image-dark.png");
     --accent-color: #ff0070;
     --theme-title-color: #db00ff;
     --theme-descr-color: #000028;
     --borders: #ff0070;
     --section-color: #f1b2ce;
     --header-color: #ff0070;
     --rec-visibility: visible;
     --theme-border-opacity: #ff007066;
}

@media (prefers-color-scheme: dark) {
     :root {
          --background-image: url("../images/cover-image-dark.png");
          --accent-color: #ff0070;
          --theme-title-color: #db00ff;
          --theme-descr-color: #000028;
          --borders: #ff0070;
          --section-color: #f1b2ce;
          --header-color: #ff0070;
          --rec-visibility: visible;
          --theme-border-opacity: #ff007066;
     }
}
