/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
     /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
     --background-image: url("../images/cover-image-light.png");
     --accent-color: #ff8dcb;
     --theme-title-color: #ffc2e6;
     --theme-descr-color: #353430;
     --borders: #353430;
     --section-color: #353430;
     --header-color: #353430;
     --rec-visibility: hidden;
     --theme-border-opacity: #32312d66;
}

@media (prefers-color-scheme: light) {
     :root {
          --background-image: url("../images/cover-image-light.png");
          --accent-color: #ff8dcb;
          --theme-title-color: #ffc2e6;
          --theme-descr-color: #353430;
          --borders: #353430;
          --section-color: #353430;
          --header-color: #353430;
          --rec-visibility: hidden;
          --theme-border-opacity: #32312d66;
     }
}
