/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
     background-image: var(--bg-image);
     font-family: var(--font-family);
     font-size: var(--font-size);
     background-color: var(--bg-color);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top center;
     background-attachment: fixed;
     padding: 10px;
     /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/*  Шапка  */

.header {
     display: grid;
     height: 100vh;
     min-block-size: 668px;
     align-items: center;
     grid-template-rows: 1fr auto 1fr;
     grid-template-columns: repeat(2, 1fr);
     padding-block-end: 1.563rem;
}

/* Уголки */

.decorated-zone {
     position: relative;
}

.decorated-zone::before {
     content: "";
     align-self: flex-start;
     justify-self: end;
     position: absolute;
     block-size: 25px;
     inline-size: 25px;
     border-block-start: 1px solid var(--border-color);
     border-inline-end: 1px solid var(--border-color);
}

.decorated-zone::after {
     content: "";
     align-self: flex-end;
     justify-self: start;
     position: absolute;
     block-size: 25px;
     inline-size: 25px;
     border-block-end: 1px solid var(--border-color);
     border-inline-start: 1px solid var(--border-color);
     inset-block-end: 1.188rem;
}

/*Кнопка REC и точка */

.header__rec {
     visibility: var(--rec-dot);
     display: flex;
     position: absolute;
     inset-block-start: 5px;
     inset-inline-end: 10px;
     gap: 8px;
     align-items: center;
     color: var(--decor-color);
     line-height: 15px;
     text-transform: uppercase;
}

.header__rec::after {
     content: "";
     height: 9px;
     width: 9px;
     border-radius: 100%;
     background: var(--decor-color);
     box-shadow: 0 0 4px 2px var(--decor-color);
}

/* Кнопки переключения темы */

.header__theme-menu {
     grid-column: 1 / 3;
     justify-self: end;
}

.header__theme-menu-list {
     display: grid;
     gap: var(--decor-gap);
}

.header__theme-menu-button {
     background-color: inherit;
     text-transform: lowercase;
     border: 1px solid transparent;
     color: var(--border-color);
     padding-inline: 12px;
}

.header__theme-menu-button:hover {
     border-color: var(--border-opacity);
}

.header__theme-menu-button_active {
     border-color: var(--border-color);
     pointer-events: none;
}

.header__theme-menu-button:focus {
     outline: none;
}

.header__theme-menu-button:focus-visible {
     outline: none;
     border-bottom: 1px solid var(--border-color);
}

/* Заголовок и описание */

.header__title {
     grid-column-start: 1;
     grid-column-end: 3;
     grid-row: 2;
     line-height: 83%;
     font-weight: var(--font-weight-fat);
     font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
     color: var(--title-color);
     text-shadow: 4px 4px 0 var(--decor-color);
}

.header__description {
     margin-block-start: 5px;
     line-height: 130%;
     grid-column: 1 / 3;
     display: inline-block;
     color: var(--title-descr-color);
     background-color: var(--decor-color);
     font-weight: var(--font-weight-fat);
}

/* Основной контент */

.main {
     padding-block-start: 31px;
}

.section {
     display: grid;
     row-gap: 19px;
     line-height: var(--main-line-height);
     font-size: var(--font-size);
}

.section__title {
     color: var(--focus-header-title-color);
     font-size: var(--font-size);
     font-weight: var(--font-weight-fat);
}

.section__info {
     margin-block-end: 30px;
}

.article {
     margin-block-end: var(--decor-margin);
}

.article__goldfish {
     font-weight: var(--font-weight-default);
}

.article__title {
     background: var(--decor-color);
     color: var(--title-descr-color);
     line-height: var(--main-line-height);
     font-size: var(--font-size);
}

.article__description {
     padding-block-start: 10px;
     color: var(--section-descr-color);
     margin-block-end: var(--decor-margin);
     line-height: var(--main-line-height);
}

.section__sidetitle {
     background: var(--decor-color);
     color: var(--title-descr-color);
     font-size: var(--font-size);
     line-height: var(--main-line-height);
     margin-block-end: var(--decor-margin);
}

/* Ссылки в тексте */

.article__link {
     text-decoration: none;
     text-shadow: 2px 2px 0 var(--decor-color);
}

.article__link:hover {
     border-block-end: 1px solid var(--section-descr-color);
}

.article__link:focus {
     outline: none;
}

.article__link:focus-visible {
     outline: 1px solid var(--section-descr-color);
}

/* Блок с галлереей */

.section__images {
     display: grid;
     gap: var(--decor-gap);
}

.section__gallery {
     display: grid;
     gap: var(--decor-gap);
}

.section__image {
     display: block;
     inline-size: 100%;
     block-size: 100%;
     object-fit: cover;
     object-position: center;
}

/* Подвал */

.footer {
     margin-block-start: 48px;
     height: 100vh;
     min-block-size: 668px;
     display: grid;
     align-items: center;
     justify-items: center;
}

.footer__title {
     padding-block-end: 21px;
     align-self: center;
     line-height: 83%;
     text-shadow: 2px 2px 0px var(--decor-color);
     color: var(--title-color);
     font-weight: var(--font-weight-fat);
     font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

@media (min-width: 768px) {
     .decorated-zone::before {
          inset-inline-end: 10px;
          inset-block-start: 10px;
     }

     .decorated-zone::after {
          inset-inline-start: 10px;
          inset-block-end: 30px;
     }

     .header__rec {
          inset-block-start: 15px;
          inset-inline-end: 20px;
     }

     .header {
          padding-inline: 0;
          margin-block-end: 15px;
          padding-block-start: 6px;
     }
     .header__theme-menu {
          padding-inline-end: 10px;
     }

     .header__title {
          margin-inline-start: -10px;
          font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
     }

     .header__description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          text-align: left;
          justify-self: end;
          max-width: 364px;
          margin-inline-end: 10px;
          margin-block-end: 10px;
     }

     .section {
          gap: 26px;
          padding-block-start: 5px;
          margin-inline-start: 10px;
          margin-block-end: 25px;
          grid-template-columns: clamp(200px, 31%, 300px) 1fr;
     }

     .title__focus {
          margin-inline-end: 10px;
     }

     .description__focus {
          margin-inline-end: 10px;
     }

     .title__concentration {
          width: clamp(150px, 16%, 237px);
     }

     .section__concentration {
          grid-template-columns: 1fr;
          margin-inline-end: 11px;
          gap: 18px;
     }

     .section__sidetitle {
          margin-inline-end: 8px;
     }

     .article__goldfish {
          margin-inline-end: 10px;
     }

     .description__goldfish {
          margin-inline-end: 10px;
     }

     .article__images {
          margin-inline-end: 10px;
          margin-inline-start: 10px;
          margin-block-start: 4px;
     }

     .section__gallery {
          gap: 20px;
          padding-inline-start: 10px;
          padding-inline-end: 10px;
     }

     .section__images {
          gap: 20px;
     }

     .section__image-sunset {
          grid-column: 1 / 3;
     }

     .section__image-icecream {
          grid-column: 3 / 4;
          grid-row: 1 / 3;
     }

     .section__image-tape {
          grid-column: 1 / 2;
          grid-row: 2 / 4;
     }

     .section__image-books {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
     }

     .section__image-street {
          grid-column: 2 / 4;
          grid-row: 3 / 4;
     }

     .footer {
          margin-block-start: 70px;
     }

     .footer__title {
          justify-content: center;
          font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
     }
}

@media (min-width: 1024px) {
     .header {
          min-block-size: 768px;
     }
     .header__title {
          margin-inline-start: -10px;
     }

     .header__description {
          max-inline-size: 491px;
     }

     .header__theme-menu {
          margin-block-start: 3px;
          justify-self: center;
          align-self: start;
     }

     .header__theme-menu-list {
          display: flex;
          flex-direction: row;
          margin-inline-start: 10px;
     }

     .section {
          margin-block-end: 0px;
     }

     .section__concentration {
          padding-block-start: 30px;
     }

     .title__focus {
          margin-inline-start: 10px;
     }

     .description__focus {
          margin-inline-start: 10px;
     }

     .article__focus {
          grid-template-columns: 310px 1fr;
     }

     .title__concentration {
          width: 300px;
     }
     .section__concentration .info__concentration {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;
     }

     .title__goldfish {
          width: 315px;
     }

     .section__sidetitle {
          margin-inline-start: 10px;
     }

     .articles__goldfish {
          margin-inline-start: 10px;
     }

     .section__goldfish {
          padding-block-start: 10px;
          margin-inline-start: 10px;
     }

     .section__images {
          padding-block-start: 25px;
     }

     .footer {
          min-block-size: 768px;
     }
}
